* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 42px;
}

#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 6px 6px 13px 1px rgba(143, 135, 143, 1);
  width: 200px;
  height: 200px;
}

figure img {
  width: 80%;
}
figure h3 {
  margin: 15px;
}
